#mainflex {
    display:flex;
    justify-content:space-around;
}

.flexright {
    display:flex;
}

.flexleft {
    display: flex;
    flex-direction: column;
}

#services {
    display:flex;
    flex-direction: column;
    max-height: 30%;
    
}

#service {
    display: flex;
    max-height: 30%;
    flex-flow: column wrap;
}

#areas {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

foot {
    text-align:center;
}

#park-header {
    display:flex;
    justify-content: space-around;
    align-items: center;

}


#logo {
    padding: 30px;
    width: 30%;
}

#park-name {
    text-align: left;
    padding: 30px;
    width: 70%;
}